# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/uihxzefkgh/newapp.bilalahmed.dev"
PassengerBaseURI "/"
PassengerPython "/home/uihxzefkgh/virtualenv/newapp.bilalahmed.dev/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END((newapp.bilalahmed.dev:3.10)) 